{% extends 'base.html' %}
{% load static %}

{% block title %}Write Code{% endblock %}

{% block body %}

    <h1>Write Code</h1>
    <form method="POST" action="{% url 'code' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="lang">Programming Language:</label>
        <select id="lang" name="language" class="form-control">
          {% for lang in languages %}
          <option value="{{ lang.id }}:{{lang.name}}">{{ lang.name }}</option>
          {% endfor %}
        </select>
        <br>
        <br>
        <label for="code">Code:</label><br>
        <textarea class="form-control"  rows="20" cols="50"  id="code" name = "code" placeholder="Enter your code here"></textarea><br>
        <label for="input">Input:</label><br>

        <textarea class="form-control"  rows="3" id="input" name = "input" placeholder="Any inputs?"></textarea><br>

        <p>Would you like your code to be seen by the public? </p>
        <input type="radio" id="Y" name="is_public" value="True">
        <label for="Y">Yes</label><br>
        <input type="radio" id="N" name="is_public" value="False">
        <label for="N">No</label><br>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<script src="{% static 'codemirror.js' %}"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
    lineNumbers: true
  });
</script>

{% endblock %}

